/* Begin CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  display: flex;
  align-items: center;
}

small {
  font-size: 0.7em;
}

img {
  max-width: 100%;
  height: auto;
}

/* Page Layout */
.container {
  margin: 1em auto 0 auto;
  max-width: 80ch;
}

.row {
  display: flex;
  gap: 1em;
}

.column {
  flex: 1;
  margin-bottom: 2em;
  text-align: center;
}

/* Utility Classes */

.py-1 {
  padding: 0.5em 0;
}

.blue {
  color: #0063a9;
}

.bg-blue {
  color: #fff;
  background-color: #0063a9;
}

.bg-gray {
  background-color: #dee5e9;
}

.wide-logo {
  min-width: 320px;
  width: 25vw;
}

.btn {
  color: #ffffff;
  font-weight: bold;
  background-color: #333333;

  padding: 1em;
  margin: 0.5em 0;
  border-radius: 1em;
}

.btn-green {
  background-color: #74a729 !important;
}

.btn:hover {
  filter: brightness(1.2);
}

/* Powertrain/Warranty copy section */

section {
  text-align: left;
  margin-top: 2em;
}

section p {
  text-indent: 1.5em;
}

section h1,
section h2 {
  margin: 0.5em 0;
}

section h2 {
  font-size: 1.2em;
}

/* Rewards Table Section */

table {
  text-align: left;
  margin: 1em auto 0 auto;
  border-collapse: collapse;
}

td {
  vertical-align: center;
  padding: 0.4em;
}

tr:nth-child(even) {
  background-color: #f4f8fc;
}

td:nth-child(3) {
  border-left: 1px solid #dee5e9;
}

.benefit {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}

.col-details {
  padding: 0.8em;
  text-align: center;
}

.check {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.disclaimer {
  text-align: right;
  padding-right: 1em;
}

/* Ways to earn points Section*/

#event-list > li {
  gap: 1em;
  text-align: left;
  margin-bottom: 1em;
}

.icon {
  color: #0063a9;
  width: 3em;
  text-align: center;
}

/* Points redemption Section */

#point-list {
  max-width: 370px;
  margin-top: 1em;
}

#point-list > li:nth-child(even) {
  background-color: #f4f8fc;
}

.points {
  padding: 0.1em 0;
  margin-right: auto;
}

/* App Info Section */

#app-list > li {
  gap: 1em;
  text-align: left;
  margin-bottom: 1em;
}

.app-btn {
  margin: 0.5em 5em;
}

.app-preview {
  max-width: 190px;
}

/* Mobile media query, 720px is a decent breakpoint */

@media only screen and (max-width: 720px) {
  html {
    font-size: 14px;
  }

  small {
    display: block;
  }

  section {
    margin-top: 1em;
    padding: 0 1em;
  }

  section p {
    text-indent: 1em;
  }

  table {
    width: 98vw;
  }

  .row {
    flex-direction: column;
  }

  .column {
    flex: none;
  }

  .col-details {
    padding: 0.5em;
  }

  .m-hide {
    display: none;
  }
}
